
Przyklady/.settings/org.eclipse.core.resources.prefs
Przyklady/.classpath
*.prefs
Przyklady/.classpath
mavenstart/db.mv.db
mavenstart/db.trace.db
.idea
Wzorce projektowe/DesignPatterns.iml
*.class
Przyklady/bin/.project
Przyklady/bin/Przykłady.iml
*.iml
